# Frontend-only vars
VITE_GITHUB_USER=
VITE_CONTACT_FORM_ENDPOINT=
VITE_WHATSAPP_NUMBER=
VITE_CALENDLY_URL=

# EmailJS opcional para o formulario de contato
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
